// 集成模板
extends ../front_end_layout
block title
    title 加入我们

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_join/join_us.css')

block content
    .banner-container
    .content-container
        .content-title
            h3.title 加入我们   JOIN US
            p.subtitle 首页>>加入我们
        .content-detail
            .content-detail-left
                .detail-title
                    h4 加入我们
                    hr
                .detail-content-contact
                    .detail-top
                        i.fa.fa-users(aria-hidden='true')
                        .detail-top-right
                            p 我们人才理念是：尊重人才、重视人才、留住人才、提升人才。
                            p Respect for talent, attention to talent, retain talent and improve talent.
                    .detail-middle
                        p 以下是各个招聘岗位具体职责与要求，有意者请详阅，并发简历至招聘邮箱：cqyir@vip.163.com
                    .detail-bottom
                        p.detail-bottom-title 产品技术部
                            ul
                                li 高级产品经理
                                    i.fa.fa-plus.job-switcher(aria-hidden='true', clicked='false')
                                    .job-container
                                        .job-date 发布日期：2017-12-4
                                        .job-describe 职位描述：
                                            p.job-describe-value 1、负责虎嗅PC端、H5和移动端（含前端和后端）的产品设计
                                            p.job-describe-value 2、独立推动研发、运营、UI和市场等团队完成产品目标，保证产品按时开发完成
                                            p.job-describe-value 3、通过市场调研、竞品分析、数据分析等手段，挖掘需求，完善产品功能，打磨用户体验
                                        .job-requirement 职位要求：
                                            p.job-requirement-value 1、3年以上产品经验，熟悉PC、H5和移动端的设计
                                            p.job-requirement-value 2、能独立负责整条产品/业务线的产品迭代
                                            p.job-requirement-value 3、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 4、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 5、优秀的沟通能力、协调能力和执行能力，具备较强的团队合作精神
                                li 高级Android开发工程师
                                    i.fa.fa-plus.job-switcher(aria-hidden='true', clicked='false')
                                    .job-container
                                        .job-describe 职位描述：
                                            p.job-describe-value 1、负责虎嗅PC端、H5和移动端（含前端和后端）的产品设计
                                            p.job-describe-value 2、独立推动研发、运营、UI和市场等团队完成产品目标，保证产品按时开发完成
                                            p.job-describe-value 3、通过市场调研、竞品分析、数据分析等手段，挖掘需求，完善产品功能，打磨用户体验
                                        .job-requirement 职位要求：
                                            p.job-requirement-value 1、3年以上产品经验，熟悉PC、H5和移动端的设计
                                            p.job-requirement-value 2、能独立负责整条产品/业务线的产品迭代
                                            p.job-requirement-value 3、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 4、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 5、优秀的沟通能力、协调能力和执行能力，具备较强的团队合作精神
                                li 高级iOS开发工程师
                                    i.fa.fa-plus.job-switcher(aria-hidden='true', clicked='false')
                                    .job-container
                                        .job-describe 职位描述：
                                            p.job-describe-value 1、负责虎嗅PC端、H5和移动端（含前端和后端）的产品设计
                                            p.job-describe-value 2、独立推动研发、运营、UI和市场等团队完成产品目标，保证产品按时开发完成
                                            p.job-describe-value 3、通过市场调研、竞品分析、数据分析等手段，挖掘需求，完善产品功能，打磨用户体验
                                        .job-requirement 职位要求：
                                            p.job-requirement-value 1、3年以上产品经验，熟悉PC、H5和移动端的设计
                                            p.job-requirement-value 2、能独立负责整条产品/业务线的产品迭代
                                            p.job-requirement-value 3、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 4、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 5、优秀的沟通能力、协调能力和执行能力，具备较强的团队合作精神
                        p.detail-bottom-title 研发部
                            ul
                                li 高级产品经理
                                    i.fa.fa-plus.job-switcher(aria-hidden='true', clicked='false')
                                    .job-container
                                        .job-describe 职位描述：
                                            p.job-describe-value 1、负责虎嗅PC端、H5和移动端（含前端和后端）的产品设计
                                            p.job-describe-value 2、独立推动研发、运营、UI和市场等团队完成产品目标，保证产品按时开发完成
                                            p.job-describe-value 3、通过市场调研、竞品分析、数据分析等手段，挖掘需求，完善产品功能，打磨用户体验
                                        .job-requirement 职位要求：
                                            p.job-requirement-value 1、3年以上产品经验，熟悉PC、H5和移动端的设计
                                            p.job-requirement-value 2、能独立负责整条产品/业务线的产品迭代
                                            p.job-requirement-value 3、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 4、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 5、优秀的沟通能力、协调能力和执行能力，具备较强的团队合作精神
                                li 高级Android开发工程师
                                    i.fa.fa-plus.job-switcher(aria-hidden='true', clicked='false')
                                    .job-container
                                        .job-describe 职位描述：
                                            p.job-describe-value 1、负责虎嗅PC端、H5和移动端（含前端和后端）的产品设计
                                            p.job-describe-value 2、独立推动研发、运营、UI和市场等团队完成产品目标，保证产品按时开发完成
                                            p.job-describe-value 3、通过市场调研、竞品分析、数据分析等手段，挖掘需求，完善产品功能，打磨用户体验
                                        .job-requirement 职位要求：
                                            p.job-requirement-value 1、3年以上产品经验，熟悉PC、H5和移动端的设计
                                            p.job-requirement-value 2、能独立负责整条产品/业务线的产品迭代
                                            p.job-requirement-value 3、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 4、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 5、优秀的沟通能力、协调能力和执行能力，具备较强的团队合作精神
                                li 高级iOS开发工程师
                                    i.fa.fa-plus.job-switcher(aria-hidden='true', clicked='false')
                                    .job-container
                                        .job-describe 职位描述：
                                            p.job-describe-value 1、负责虎嗅PC端、H5和移动端（含前端和后端）的产品设计
                                            p.job-describe-value 2、独立推动研发、运营、UI和市场等团队完成产品目标，保证产品按时开发完成
                                            p.job-describe-value 3、通过市场调研、竞品分析、数据分析等手段，挖掘需求，完善产品功能，打磨用户体验
                                        .job-requirement 职位要求：
                                            p.job-requirement-value 1、3年以上产品经验，熟悉PC、H5和移动端的设计
                                            p.job-requirement-value 2、能独立负责整条产品/业务线的产品迭代
                                            p.job-requirement-value 3、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 4、具备较强的数据分析、竞品分析、逻辑分析等能力
                                            p.job-requirement-value 5、优秀的沟通能力、协调能力和执行能力，具备较强的团队合作精神
            .content-detail-right
                .about-nav
                    h4  栏目列表
                    ul
                        li
                            a(href="../join") 加入我们
                .hot-recommend
                    h4 热点内容
                    ul
                        -for(var i = 0; i < hotRecommend.length; i++)
                            li
                                a(href="../news/detail?id=#{hotRecommend[i]._id}").title #{hotRecommend[i].title}
                                span.title-date #{hotRecommend[i].formatCreatedTime}

// 引入私有的js
block js
    script(src='/js/front_end/front_end_join/join_us.js')
