// 集成模板
extends ../front_end_layout
block title
    title 工程技术中心-重庆伊尔流体设备制造有限公司

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_program/program.css')

block content
    .banner-container
    .content-container
        .content-title
            h3.title 工程技术中心   ENGINEERING TECHNOLOGY CENTER
            p.subtitle 首页>>工程技术中心>>质保控制
        .content-detail
            .content-detail-left
                .detail-title
                    h4 质保控制
                    hr
                .detail-content-quality
                    .detail-middle
                        div.quality-item
                            h4.quality-title 质量保证：
                            p.quality-value 树立先进的质量管理理念，建立与民用产品、核电产品标准相适应的质量保证体系，面向从设计开发到产品实现全过程的质量控制，为顾客提供安全第一、质量第一的安全可靠产品。
                        div.quality-item
                            h4.quality-title 质量方针：
                            p.quality-value 顾客至上、安全优质、环保健康、遵规守法、持续改进；确保设计、制造的泵产品满足顾客要求，能实现安全、可靠、稳定运行。
                        div.quality-item
                            h4.quality-title 质量控制：
                            p.quality-value APIQ1、 ISO9001认证，核级泵设计与制造许可认证。
                            p.quality-value 全面实施全过程质量控制与质理管理。
                            p.quality-value 1998年通过ISO9001质量管理体系认证。
                            p.quality-value 2013年5月通过核 级泵设计与制造许可认证，江苏省首家核级泵制造企业重合同守信用单位。
                            p.quality-value 高新技术企业。
                        div.quality-item
                            h4.quality-title 产品研发：
                            p.quality-value （1）拥有流体机械专业的工程技术人员和强大的产品设计开发能力。
                            p.quality-value （2）全过程实现CAD、CFD、ANSYS等辅助设计。采用自行开发的ERP管理系统。进行合同、备档、生产、物流和生产BOM、工艺BOM管理。
                            p.quality-value （3）产品符合ASME、RCC-M、AP1610、ANSI、ISO、GB、JB等国际国内标准。
                            p.quality-value （4）拥有高精度的开、闭式泵性能测试中心，为用户的产品性能提供可靠保证。
                        div.quality-item
                            h4.quality-title 生产实况：
                            p.quality-value 拥有熔模铸造，树脂砂型铸造，3D仿真打印技术，真空冶炼技术，为客户提供304、316、316L、904、904L、2205、2507、2520、monel、哈氏合金等30多种铸造材料，满足不同工况，拥有加工、检测设备380余台套全过程实现质量跟踪，保证产品质量。
            .content-detail-right
                .about-nav
                    h4  栏目列表
                    ul
                        li
                            a(href="../program/quality") 质保控制
                        li
                            a(href="../program/question") 常见问题
                .hot-recommend
                    h4 热点内容
                    ul
                        -for(var i = 0; i < hotRecommend.length; i++)
                            li
                                a(href="../news/detail?id=#{hotRecommend[i]._id}").title  #{hotRecommend[i].title}
                                span.title-date  #{hotRecommend[i].formatCreatedTime}

// 引入私有的js
block js
