nav.navigation
    ul.pagination
        li
            a(href='#') 首页
        li
            a.page-control.previous(href='#')
                span(aria-hidden='true') 上一页
        li
            a(href='#') 1
        li
            a.active(href='#') 2
        li
            a(href='#') 3
        li
            a(href='#') 4
        li
            a(href='#') 5
        li
            a.page-control.next(href='#')
                span(aria-hidden='true') 下一页
        li
            a(href='#') 末页
