// 集成模板
extends ./front_end_layout
block title
    title 重庆伊尔流体设备制造有限公司

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_index.css')

block content
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                img(src="/images/front_end/slider_01.jpg")
            .swiper-slide
                img(src="/images/front_end/slider_02.png")
        // 如果需要分页器
        .swiper-pagination
        // 如果需要导航按钮
        .swiper-button-prev
        .swiper-button-next
        // 如果需要滚动条
        .swiper-scrollbar
    .abstract-container
        .abstract-content
            h1.abstract-title
                big.emphasize-color 伊尔
                | 流体设备制造有限公司为您提供
                big.emphasize-color 专业
                | 的
                big.emphasize-color 特殊
                | 液体输送设备
            p.abstract-detail 伊尔人坚持安全、环保、科技的先进理念，全心全意为顾客服务;始终致力于为企业的安全稳定运转提供可靠质量保障


// 引入私有的js
block js
    script(src='/js/front_end/index.js')