doctype html
html
    head
        block title

        // 引入共有的common.css文件
        link(rel='stylesheet', href='/css/front_end/front_end_common.css')
        // 引入共有的header样式文件
        link(rel='stylesheet', href='/css/front_end/front_end_header.css')
        // 引入共有的footer样式文件
        link(rel='stylesheet', href='/css/front_end/front_end_footer.css')
        // 引入字体样式
        link(rel='stylesheet', href='/plugins/font/font-awesome.css')

        // 定义私有的css block
        block css
    body
        // 引入共有的header
        include ./front_end_header.jade

        block content

        // 引入共有的header
        include ./front_end_footer.jade

        // 定义私有的js block
        block js