doctype html
html
    head
        block title

        // 引入共有的common.css文件
        link(rel='stylesheet', href='/css/front_end/front_end_common.css')
        // 引入共有的header样式文件
        link(rel='stylesheet', href='/css/front_end/front_end_header.css')
        // 引入共有的footer样式文件
        link(rel='stylesheet', href='/css/front_end/front_end_footer.css')
        // 引入字体样式
        link(rel='stylesheet', href='/plugins/font/font-awesome.css')
        // 引入swiper
        link(rel='stylesheet', href='/plugins/swiper/swiper.min.css')

        // 定义私有的css block
        block css
    body
        // 引入共有的header
        include ./front_end_header.jade

        .content-wrapper
            block content

        // 引入共有的header
        include ./front_end_footer.jade

        // 引入公有的JS文件
        script(src='/plugins/jquery/jquery.1.12.5.min.js')
        script(src='/plugins/swiper/swiper.min.js')
        script(src='/js/front_end/common.js')
        script(src='/js/front_end/header.js')

        // 定义私有的js block
        block js