div(class="front_end_header_container")
    div(class="front-end-header-left")
        img(src="images/logo.png")
    div(class="front-end-header-right clearfix")
        div(class="front-end-header-item header-active")
            a(class="nav-title") 关于伊尔
            ul
                li
                    a(href="") 公司简介
                li
                    a(href="") 发展历程
                li
                    a(href="") 组织架构
                li
                    a(href="") 荣誉资质
        div(class="front-end-header-item")
            a 新闻中心
        div(class="front-end-header-item")
            a 产品中心
            ul
                li
                    a(href="") 化工泵系列
                li
                    a(href="") 核电泵系列
                li
                    a(href="") 机械密封系列
        div(class="front-end-header-item")
            a 成功案例
        div(class="front-end-header-item clearfix")
            a 联系我们