footer.main-footer
    .pull-right.hidden-xs
        b Version
        |  1.0.0
    strong
        | Copyright © 2014-2016
        a(href='http://ioteams.com/') 中移物联网开发平台研发团队
        | .
    |  All rights
    |     reserved.