.swiper-container {
  height: 480px;
  width: 100%;
}
.abstract-container {
  height: 420px;
  width: 100%;
  .abstract-content {
    width: 1170px;
    margin: 0 auto;
    h1 {
      padding: 60px 0 20px 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
    }
    .abstract-detail {
      text-align: center;
      font-size: 14px;
      width: 500px;
      margin: 0 auto;
      letter-spacing: .04em;
      color: #555;
    }
  }
}