// 集成模板
extends ../front_end_layout
block title
    title 企业概况

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_about/about.css')

block content
    .banner-container
    .content-container
        .content-title
            h3.title 关于我们   ABOUT
            p.subtitle 首页>>企业概况>>公司简介
        .content-detail
            .content-detail-left
                .detail-title
                    h4 公司简介
                    hr
                .detail-content
                    .detail-top
                        span About
                        .detail-top-value
                            h4 我们是谁？
                            p 重庆伊尔流体设备制造有限公司坐落于西部唯一的年轻直辖市--重庆，是一家集生产、研发、销售为一体，并通过ISO9001认证的立卧式石油化工泵制造厂家。我们不是什么都做的企业，我们只专业研发制造：各种立卧式化工流程泵、小流量高扬程皮托管泵（又名旋转喷射泵、旋壳泵）、无泄漏磁力泵以及机械密封。 公司历时5年研发了最新一代石油化工流程泵（严格执行API610“第十一版”标准），最新一代小流量高扬程皮托管泵，最新一代磁力泵以及机械密封。部分产品已获得国家专利并已经成功应用于石油、化工、苯加氢、加氢注水、盐碱、涂装、发电、蛋氨酸等领域。愿与广大用户携手合作，共谋发展。
                    .detail-middle
                        p 公司产品被中石化、中石油、中海油下属各企业、国内各大核电公司（秦山核电、江苏核电、方家山、福清、红岩河、阳江、海阳、巴基斯坦等核电）、巴斯夫、陶氏化学、阿克苏诺贝尔、罗盖特、赫司特、罗门哈氏、诺华制药、川化味芝素国外化学企业、华润集团、神华煤制油煤化工企业、宝钢、沙钢、南钢、湘钢钢铁企业、云铜、云南铅锌矿、铜陵金隆铜业冶炼企业、国内各大火电厂、大众、一汽、二汽汽车企业、各水处理公司等近万家企业选用，并配套出口东南亚、中东、南美洲等国家。
                        .detail-middle-img
                            img(src="images/front_end/about_us_left.png")

                    .detail-bottom
                        p
                            span 企业文化
                            |：坚持“创新、严谨、卓越”为核心； 秉承民族优秀传统，全力打造安全、环保、科技、节能型产品。
                        p
                            span 服务理念
                            |：保证服务品质，满足客户需求；一切为了客户，为了客户一切，为了一切客户。

            .content-detail-right
                .about-nav
                    h4  栏目列表
                    ul
                        li
                            a(href="../about") 公司简介
                        li
                            a(href="../about/develop") 发展历程
                        li
                            a(href="../about/honor") 荣誉资质
                        li
                            a(href="../about/speech") 董事长致辞
                .hot-recommend
                    h4 热点内容
                    ul
                        li
                            a.title 2016年度工作总结
                            span.title-date 2017-12-11

                        li
                            a.title 2016年度工作总结,第二代旋壳泵研发成功了，大家都很高兴
                            span.title-date 2017-12-11

                        li
                            a.title 2016年度工作总结
                            span.title-date 2017-12-11

                        li
                            a.title 2016年度工作总结
                            span.title-date 2017-12-11

// 引入私有的js
block js
    script(src='/js/front_end/front_end_about/about.js')
